{% extends "base.html" %} {% block title %}XT Padel League{% endblock %} {% block content %}
<div class="clearfix"></div>
	
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Criar Novo Evento</div>
                <hr>
                    <form action="{{ url_for('views.insertGameDay', leagueID=league.lg_id) }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="input-1">Data Inicio</label>
                        <input type="date" class="form-control form-control-rounded" id="input-1" placeholder="Calendario escolher data inicio" name="gameDay_dateStart">
                    </div>
                    <div class="form-group">
                        <label for="input-2">Hora Inicio</label>
                        <input type="time" class="form-control form-control-rounded" id="input-2" placeholder="Calendario escolher hora inicio" name="gameDay_timeStart">
                    </div>
                    <div class="form-group">
                        <label for="number_teams">Número de duplas</label>
                        <select class="form-control form-control-rounded" id="number_teams" name="number_teams">
                            <option value="2">2 Duplas</option>
                            <option value="3">3 Duplas</option>
                            <option value="4">4 Duplas</option>
                            <option value="5">5 Duplas</option>
                            <option value="6">6 Duplas</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-save"></i> Criar Evento</button>
                    </div>
                    </form>
            </div>
        </div>
    </div>
    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->

</div>
<!-- End container-fluid-->
    

{% endblock %}