{% extends "base.html" %} {% block title %}XT Padel League{% endblock %} 
{% block content %}
<!-- Show front page of league -->

<!-- button to create new gameday -->
<!-- Criar novas jornadas só em ligas do tipo 6, ligas avulso -->
{% if league.lg_id_tp == 6 %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{{ url_for('views.create_game_day', leagueID=league.lg_id) }}" class="btn btn-light btn-round px-5"><i class="icon-plus"></i> Criar Jornada</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{{ url_for('views.deleteLeague', leagueID=league.lg_id) }}" class="btn btn-danger btn-round px-5"><i class="icon-minus"></i> Apagar Liga</a>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="{{ url_for('views.deleteLeague', leagueID=league.lg_id) }}" class="btn btn-danger btn-round px-5"><i class="icon-minus"></i> Apagar Liga</a>
        </div>
    </div>
</div>
{% endif %}

<!-- Table of gamedays -->
<div class="row">
    {% for data in result %}
    <div class="col-lg-3">
        <a href="{{ url_for('views.managementGameDay_detail', gameDayID=data['gd_id']) }}">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{{ league.lg_name }}</h5>
                </div>
                <div class="card-body">
                    <br>Data : {{ data['gd_date'] }}</br>
                    <br>Estado : {{ data['gd_status'] }}</br>
                    {% if data['gd_status'] == 'Terminado' %}
                        <br>Vencedores: {{ data['gd_nameWinner1'] }} / {{ data['gd_nameWinner2'] }}</br>
                    {% else %}
                        <br>Vencedores: </br>
                    {% endif %}
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div><!-- End Row -->

{% if league.lg_typeOfLeague != 'Avulso' %}
<!-- Table of classification -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Classificação Geral</h5>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th class="" scope="col">Nome</th>
                                <th class="" scope="col">Pts</th>
                                <th class="d-none d-md-table-cell" scope="col">PG</th>
                                <th class="d-none d-md-table-cell" scope="col">PP</th>
                                <th class="d-none d-xl-table-cell" scope="col">JG</th>
                                <th class="d-none d-xl-table-cell" scope="col">JP</th>
                                <th class="d-none d-xl-table-cell" scope="col">JD</th>
                                <th class="d-none d-xl-table-cell" scope="col">Ranking</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in classification %}
                            <tr data-href="{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}">
                                <!-- <th scope="row">{{ data['lc_idPlayer'] }}</th> -->
                                <td class=""  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">
                                    <img src="{{ url_for('views.display_user_image', userID=data['lc_idPlayer'] ) }}" alt="{{ data['lc_namePlayer'] }}" class="rounded-circle" width="40">
                                    {{ data['lc_namePlayer'] }}
                                </td>
                                <td class="" onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">{{ data['lc_points'] }}</td>
                                <td class="d-none d-md-table-cell" onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">{{ data['lc_wins'] }}</td>
                                <td class="d-none d-md-table-cell" onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">{{ data['lc_losses'] }}</td>
                                <td class="d-none d-xl-table-cell" onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">{{ data['lc_gamesFavor'] }}</td>
                                <td class="d-none d-xl-table-cell" onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">{{ data['lc_gamesAgainst'] }}</td>
                                <td class="d-none d-xl-table-cell" onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">{{ data['lc_gamesDiff'] }}</td>
                                <td class="d-none d-xl-table-cell" onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['lc_idPlayer']) }}';">{{ data['lc_ranking'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Row -->
{% endif %}





{% endblock %}