{% extends "base.html" %} {% block title %}XT Padel League{% endblock %} 
{% block content %}
<!-- WPT -->
<link href="../static/css/swiper-bundle.min.css" rel="stylesheet"/>
<!-- Show front page of gameday -->

<!-- buttons -->
<div class="container">
  <div class="row">
      <div class="col-md-12 text-right">
          <a href="{{ url_for('views.print_page',  gameDayID=gameDay.gd_id) }}" class="btn btn-light btn-round px-5"><i class="icon-plus"></i> Imprimir</a>
          <a href="{{ url_for('views.delete_game_day_players', gameDayID=gameDay.gd_id) }}" class="btn btn-light btn-round px-5"><i class="icon-minus"></i> Apagar Inscritos</a>
      </div>
  </div>
</div>


<!-- teams and players -->
<div class="row">
{% if number_of_teamsGD == 0 %}
    <!-- Teams Table when number_of_teams is 0 -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Inscrever Jogadores Jornada</div>
                <hr>
                <form action="{{ url_for('views.insert_game_day_players', gameDayID=gameDay.gd_id) }}" method="post">
                  {% for i in range(number_of_teams_league*2) %}
                    <div class="form-group">
                        <label for="player-{{ i+1 }}">Jogador</label>
                        <select class="form-control form-control-rounded" id="player-{{ i+1 }}" name="player{{ i+1 }}">
                            <option class="form-control" disabled selected value> -- escolha jogador -- </option>
                            {% for player in players_data %}
                                <option class="form-control" name="playerOne" value="{{ player['pl_id'] }}">{{ player['pl_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                  {% endfor %}
                    <div class="form-group">
                        <label for="input-7">Definir Equipas</label>
                        <select class="form-control form-control-rounded" id="input-7" name="defineTeams">
                            <option class="form-control" value="ranking" name="defineTeams" selected >Por Ranking</option>
                            <option class="form-control" value="random" name="defineTeams">Por Sorteio</option>
                            <option class="form-control" value="manual" name="defineTeams">Escolha Manual</option>
                        </select>
                    </div>
                    <input type="hidden" id="leagueId" name="leagueId" value="{{ league_id }}">
                    <input type="hidden" id="gameDayId" name="gameDayId" value="{{ gameday_id }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-save"></i> Submeter inscrições</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <!-- Content to be displayed when number_of_teams is greater than 0 -->
    <!-- Teams Table -->
      <div class="col-lg-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Jogadores
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="card-title">Inscrever Jogadores Jornada</div>
                <hr>
                  <form action="{{ url_for('views.insert_game_day_players', gameDayID=gameDay.gd_id) }}" method="post">
                    <!-- for para gameDayPlayers -->
                    {% for gd_player in gameDayPlayers %}
                      <div class="form-group">
                        <label for="player-{{ loop.index }}">Jogador</label>
                        <select class="form-control form-control-rounded" id="player-{{ loop.index }}" name="player{{ loop.index }}">
                            <option class="form-control" disabled selected value> -- escolha jogador -- </option>
                            <!-- Output selected player -->
                            <option class="form-control" name="playerOne" value="{{ gd_player['gp_idPlayer'] }}" selected>{{ gd_player['gp_namePlayer'] }}</option>
                            <!-- Output rest of players -->
                            {% for player in players_data %}
                                <option class="form-control" name="playerOne" value="{{ player['pl_id'] }}">{{ player['pl_name'] }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    {% endfor %}

                      <div class="form-group">
                          <label for="input-7">Definir Equipas</label>
                          <select class="form-control form-control-rounded" id="input-7" name="defineTeams">
                              <option class="form-control" value="ranking" name="defineTeams" selected >Por Ranking</option>
                              <option class="form-control" value="random" name="defineTeams">Por Sorteio</option>
                              <option class="form-control" value="manual" name="defineTeams">Escolha Manual</option>
                          </select>
                      </div>
                      <input type="hidden" id="leagueId" name="leagueId" value="{{ league_id }}">
                      <input type="hidden" id="gameDayId" name="gameDayId" value="{{ gameday_id }}">
                      <div class="form-group">
                          <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-save"></i> Submeter inscrições</button>
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>


    <!-- Add your content here -->
{% endif %}
</div><!--End Row-->

<!-- only show row of teams if there are already teams -->
{% if number_of_teamsGD > 0 %}
<!-- Then show the teams already made -->
<!-- Second Row -->
<div class="row hidden-xs hidden-m">
  <!-- Teams Table -->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Duplas</h5>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Equipa</th>
              </tr>
            </thead>
            <tbody>
              {% for team, players in teams.items() %}
              <tr>
                  {% for player in players %}
                  <td>{{ display_short_name(player.gp_namePlayer) }}</td>
                  {% endfor %}
                  <td>{{ team }}</td>
              </tr>
              {% endfor %}                                 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Games Row -->

<form action="{{ url_for('views.submitResultsGameDay', gameDayID=gameDay.gd_id) }}" method="post">
<div class="row">
    {% for data in result %}
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div class="swiper-slide" data-swiper-slide-index="1" style="width: 325px; left: 0px; margin-right: 1px;" role="group" aria-label="3 / 28">
              <!-- <div id="partido1B" class="slideoculto">
                <div style="width: 100%; height: 140px;"> 
                  <a href="https://www.worldpadeltour.com/marcador" target="_parent">
                    <img src="swipper/score1.png" style="width:50%;margin-top:5%;float:left;">
                  </a> 
                  <a href="https://www.worldpadeltour.com/stats/54484" target="_parent">
                    <img src="swipper/stats.png" style="width:50%;margin-top:5%;float:left;">
                  </a>
                </div>
              </div> -->
              <div id="partido1A" style="width: 100%;height: 192px;padding: 10px;">
                <div class="fase">{{ data['gm_court'] }}</div>
                <div class="fecha">{{ data['gm_timeStart'] }}</div>
                {% if data['gm_idPlayer_A1'] != '' %}
                  {% set playerId = data['gm_idPlayer_A1'] %}
                  {% set photoA1 = "../static/photos/users/" + data['gm_idPlayer_A1']|string + "/main.jpg"  %}
  
                  {% set playerId = data['gm_idPlayer_A2'] %}
                  {% set photoA2 = "../static/photos/users/" + data['gm_idPlayer_A2']|string + "/main.jpg" %}
                {% else %}
                  {% set photoA1 = "../static/photos/users/nophoto.jpg" %}
                  {% set photoA2 = "../static/photos/users/nophoto.jpg" %}
                {% endif %}
  
                {% set playerId = data['gm_idPlayer_B1'] %}
                {% set photoB1 = "../static/photos/users/" + data['gm_idPlayer_B1']|string + "/main.jpg"  %}
  
                {% set playerId = data['gm_idPlayer_B2'] %}
                {% set photoB2 = "../static/photos/users/" + data['gm_idPlayer_B2']|string + "/main.jpg"  %}
                
                <div class="team">
                  <div class="player">
                    <img width="50" height="57" alt="" src="{{ photoA1 }}">
                  </div>
                  <div class="player">
                    <img width="50" height="57" alt="" src="{{ photoA2 }}">
                  </div>
                  <div class="nombres">
                    <!-- <div>{{ acronA1 }}</div>
                    <div>{{ acronA2 }}</div> -->
                    <div>{{ display_short_name(data['gm_namePlayer_A1']) }}</div>
                    <div>{{ display_short_name(data['gm_namePlayer_A2']) }}</div>
                  </div>
                </div>
                <div class="">
                  <div class="marcador" style="color: rgb(255, 255, 255);">
                    <div class="form-group">
                      <input type="number" style="width: 4em" class="form-control form-control-rounded" id="resultGameA{{ data['gm_id'] }}" placeholder="{{ data['gm_result_A'] }}" name="resultGameA{{ data['gm_id'] }}">
                    </div>
                  </div>
                </div>
                <div class="team">
                  <div class="player">
                    <img width="50" height="57" alt="" src="{{ photoB1 }}">
                  </div>
                  <div class="player">
                    <img width="50" height="57" alt="" src="{{ photoB2 }}">
                  </div>
                  <div class="nombres">
                    <div>{{ display_short_name(data['gm_namePlayer_B1']) }}</div>
                    <div>{{ display_short_name(data['gm_namePlayer_B2']) }}</div>
                  </div>
                </div>
                <div class="">
                  <div class="marcador" style="color: rgb(255, 255, 255);">
                    <div class="form-group">
                      <input type="number" style="width: 4em" class="form-control form-control-rounded" id="resultGameB{{ data['gm_id'] }}" placeholder="{{ data['gm_result_B'] }}" name="resultGameB{{ data['gm_id'] }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% if result %}
    <div class="form-group">
      <button type="submit" class="btn btn-light btn-round px-5"><i class="icon-save"></i> Submeter Resultados</button>
    </div>
    {% endif %}
  </div>
  </form>


  <!-- Second Row -->
<div class="row">
    <!-- Table of classification -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Classificação Jornada</h5>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th class="" scope="col">Nome</th>
                  <th class="" scope="col">Pts</th>
                  <th class="d-none d-md-table-cell" scope="col">PG</th>
                  <th class="d-none d-md-table-cell" scope="col">PP</th>
                  <th class="d-none d-xl-table-cell" scope="col">JG</th>
                  <th class="d-none d-xl-table-cell" scope="col">JP</th>
                  <th class="" scope="col">JD</th>
                  <th class="d-none d-xl-table-cell" scope="col">Ranking</th>
                </tr>
              </thead>
              <tbody>
                {% for data in classification %}
                  <tr>
                    <!-- <th scope="row">{{ data['gc_idPlayer'] }}</th> -->
                    {% set photoPath = "../static/photos/users/" + data['gc_idPlayer']|string + "/main.jpg"  %}
                    <td class=""  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';"><img src="{{ photoPath }}" alt="Admin" class="rounded-circle" width="40"> {{ data['gc_namePlayer'] }}</td>
                    <td class=""  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';">{{ data['gc_points'] }}</td>  
                    <td class="d-none d-md-table-cell"  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';">{{ data['gc_wins'] }}</td> 
                    <td class="d-none d-md-table-cell"  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';">{{ data['gc_losses'] }}</td> 
                    <td class="d-none d-xl-table-cell"  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';">{{ data['gc_gamesFavor'] }}</td> 
                    <td class="d-none d-xl-table-cell"  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';">{{ data['gc_gamesAgainst'] }}</td> 
                    <td class=""  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';">{{ data['gc_gamesDiff'] }}</td> 
                    <td class="d-none d-xl-table-cell"  onclick="window.location.href='{{ url_for('views.player_detail', playerID=data['gc_idPlayer']) }}';">{{ data['gc_ranking'] }}</td> 
                  </tr> 
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div><!--End Row-->
  

  

{% endblock %}